/* Styles for the Plugin Settings Page  */
.hide-header-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.center{
    width: 50%;
    padding: 2em;
    background-color: rgba(209, 213, 216, 0.826);
    border-radius: 1em;
    box-shadow: 2px 2px 5px black;
}

.align-center{
    text-align: center;
    padding-bottom: 1em;
}


.todo{
    padding: 5px;
    margin: 0;
    border:1px solid rgb(0, 72, 255);
}

.tooltip {
    text-align: center;
    color: #666666;
    font-size: 14px;
    text-decoration: none;
    
}

.tooltip .why {
    font-style: Italic;
    background-color: #aeaeae;
    border:1px solid rgb(44, 44, 44);
    border-radius:50%;
    width:  17px;
    height: 17px;
    display: inline-block;

}

.tooltip .tip { 
    display: none; 
}

.tooltip:hover .tip { 
    position: absolute;
    display: inline;
    background-color: rgb(209, 209, 195);
    border: 1px solid rgb(104, 104, 104);
    border-radius: 10px;
    padding: 2px;
    width: 200px;
    color: #222525;
}